@keyframes mercuryOrbit {
    from {transform: rotate(0deg) translateX(9.5em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(9.5em) rotate(-360deg);}
}

@keyframes venusOrbit {
    from {transform: rotate(0deg) translateX(12.5em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(12.5em) rotate(-360deg);}
}

@keyframes earthOrbit {
    from {transform: rotate(0deg) translateX(15.5em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(15.5em) rotate(-360deg);}
}

@keyframes moonOrbit {
    from {transform: rotate(0deg) translateX(2em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(2em) rotate(-360deg);}
}

@keyframes marsOrbit {
    from {transform: rotate(0deg) translateX(20em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(20em) rotate(-360deg);}
}

@keyframes jupiterOrbit {
    from {transform: rotate(0deg) translateX(30em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(30em) rotate(-360deg);
   }
}

@keyframes ioOrbit {
    from {transform: rotate(0deg) translateX(2.3em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(2.3em) rotate(-360deg);}
}

@keyframes europaOrbit {
    from {transform: rotate(0deg) translateX(3em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(3em) rotate(-360deg);}
}

@keyframes ganymedeOrbit {
    from {transform: rotate(0deg) translateX(4.7em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(4.7em) rotate(-360deg);}
}

@keyframes calistoOrbit {
    from {transform: rotate(0deg) translateX(6.3em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(6.3em) rotate(-360deg);}
}

@keyframes saturnOrbit {
    from {transform: rotate(0deg) translateX(41em) rotate(0deg);}

    to {transform: rotate(360deg) translateX(41em) rotate(-360deg);}

}

@keyframes uranusOrbit {
    from {transform: rotate(0deg) translateX(47em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(47em) rotate(-360deg);}
}

@keyframes neptuneOrbit {
    from {transform: rotate(0deg) translateX(56em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(56em) rotate(-360deg);}
}

@keyframes mirandaOrbit {
    from {transform: rotate(0deg) translateX(3.2em) rotate(0deg);}
    to {transform: rotate(360deg) translateX(3.2em) rotate(-360deg);}
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

#board {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0em;
    left: 0em; 
    background-color: #363640;
    width: 100vw;
    height: 100vh;
}

.sun {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 15em;
    height:15em;
    border-radius: 10em;
    background-color: #EA9300;
    box-shadow: 0 0 84px orange;
}

.mercuryOrbit {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.8em;
    height: 18.8em;
    border: .1em solid rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.mercury {
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 10em;
    background: radial-gradient(#B5A7A7, #CECCD1, #97979F);
    animation: mercuryOrbit 4s linear infinite;
}

.venusOrbit {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 25em;
    border: .1em solid rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.venus {
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background: radial-gradient(#EFEFEF, #DDD8D4, #BBB7AB);
    animation: venusOrbit 6s linear infinite;
}

.earthOrbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31em;
    height: 31em;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.earth {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 30px;
    background: radial-gradient(#FBFCFF, #8CB1DE, #3B5D38);
    animation: earthOrbit 8s linear infinite;
}

.moonOrbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.7em;
    height: 3.7em;
    border: 1px dashed rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.moon {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: radial-gradient(#FBFCFF, #8CB1DE, #3B5D38);
    animation: moonOrbit 4s linear infinite;
}

.marsOrbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 650px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.mars {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 3em;
    background: radial-gradient(#8E6A5A, #FF9D6F, #663926);
    animation: marsOrbit 10s linear infinite;
}

.jupiterOrbit {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 950px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.jupiter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(-10deg, #404436, #A79C86, #D2CFDA, #D39C7E, #90614D, #C88B3A, #D2CFDA, #90614D, #A79C86,#D2CFDA, #404436);
    animation: jupiterOrbit 20s linear infinite;

}

.ioOrbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border: 1px dashed rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.io {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: yellow;
    animation: ioOrbit 4s linear infinite;
}

.europaOrbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 1px dashed rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.europa {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: radial-gradient(#FBFCFF, #8CB1DE, #3B5D38);
    animation: europaOrbit 8s linear infinite;
}

.ganymedeOrbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px dashed rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.ganymede {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: radial-gradient(#FBFCFF, #8CB1DE, #3B5D38);
    animation: ganymedeOrbit 16s linear infinite;
}

.calistoOrbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px dashed rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.calisto {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: radial-gradient(#FBFCFF, #8CB1DE, #3B5D38);
    animation: calistoOrbit 36s linear infinite;
}

.saturnOrbit {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 1300px;
    border: 3px solid rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}
.saturn {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10em;
    background: linear-gradient(#7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171, #7B7869, #A49B72, #C5AB6E, #C3A171);
    animation: saturnOrbit 10s linear infinite;
}

.saturnRings {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 5em;
    background-color: red;
}

.uranusOrbit {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 1500px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.uranus {
    position: absolute;

    width: 40px;
    height: 40px;
    border-radius: 3em;
    background: linear-gradient(45deg, #D5FBFC, #BBE1E4, #93B8BE, #65868B);
    animation: uranusOrbit 30s linear infinite;
}

.neptuneOrbit {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 1800px;
    height: 1800px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.neptune {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 3em;
    background-image: radial-gradient(circle, #89F3FF, #3E66F9, #212354);
    animation: neptuneOrbit 35s linear infinite;
}

.mirandaOrbit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px dashed rgba(255, 255, 255, 0.12);
    border-radius: 100%;
}

.miranda {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 3em;
    background-image: radial-gradient(circle, #89F3FF, #3E66F9, #212354);
    animation: mirandaOrbit 35s linear infinite;
}